{% extends 'base.html' %}

{% block title %} О нас {% endblock %}

{% block main %}
    <div class="text_container">
    <p>
        Это самая большая в России сеть книжных магазинов и интернет-магазин. 
        Компания входит в объединённую розничную сеть.
           
        Мы не просто продаём книги, а разделяем любовь наших покупателей к чтению. 
        Нам знакомо чувство, когда хорошие романы заканчиваются слишком быстро, 
        времени в дороге не хватает, чтобы дочитать главу, а героиня никак не может найти свою любовь. 
          
        Мы знаем, как быстро летит время в компании с новинкой любимого автора и как сильно хочется растянуть это удовольствие.
      
    </p>
    </div>

   
{% endblock %}