<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div id="nav_bar">
        {% for btn in menu %}
            <a href="{{ btn.link}}">{{btn.name}}</a>  <!-- использовали тег 'a' -->
        {% endfor %}
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>