{% extends 'base.html' %}

{% block title %} Контакты {% endblock %}

{% block main %}
    <div class="info_text_container">      
    <h1> Приезжайте к нам в гости! </h1>
    <h2>
        Мы всегда готовы встретиться с Вами лично для обсуждения проекта, для показа наших реализованных объектов и по любым другим вопросам.
    </h2>
    <h3> Адрес: Казань, проспект Победы</h3>
    <h3> Телефон: 8 (843) 000-00-00</h3>
    <h3> Email: info@infohouse.ru</h3>
    </div>

   
{% endblock %}