{% extends 'base.html' %}

{% block title %} Строительство современных кирпичных домов в Казани и Республике Татарстан {% endblock %}

{% block main %} 
    <div class="cover__wrapper">
        <p class="cover__under-title">
        Строительная компания
        <span class="cover__under-title_green">"HouseДом"</span>
        </p>
        <h1 class="cover__title">Строительство домов</h1>
        <p class="cover__subtitle">по индивидуальному или готовому проекту</p>

    </div>

    <div class="info_container">
        <img src="/static/image/11.webp" alt="">
        <h3> Выполним разработку архитектурного проекта Дома Вашей мечты</h3>        
         <p>Тщательную проработку концепции «дома мечты» для каждого члена семьи</p>
         <p>Разработка проекта под ключ: АР + КР, планировка, посадка на участке, визуализация и смета</p>
         <p>Правки в проекте пока Вы не скажете: "Идеально!"</p>
         <p>Несколько проверенных архитекторов в штате компании</p>
         <p>Независимая техническая экспертиза проектов</p>
        
    </div>
    <div class="info_container">        
        <a href="/houses/">
        <h3> Каталог наших проектов</h3>
        <p>Посмотрите каталог лучших проектов домов и выберите дом под свои параметры</p>
        <img src="/static/image/22.png" alt="">
        </a>
    </div>

    <div class="info_container">
        <img src="/static/image/33.jpeg" alt="">
        <h3> Поможем подобрать земельный участок</h3>
        <p>Земельные участки от 100 000 ₽ за сотку</p>
        <p>Более 100 участков в нашем каталоге</p>
        <p>Помощь в оформлении документов</p>
        <p>Помощь в сопровождении</p>
        <p>Получение ГПЗУ земельного участка</p>
        <p>Помощь в получении уведомления о начале строительства</p>
        <p>Проверка земельного участка на юридическую чистоту</p>
    </div>  
   
  
{% endblock %}

