{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block main %} 
    <div class="info_container">
        <a href="/product1/">
            <img src="/static/image/1gornia.jpg" alt="">
        </a>
        <a href="/product1/">
            <P>
                Информация о горном велосипеде
            </P> 
        </a>     
    </div>

    <div class="info_container">
        <a href="/product2/">
            <img src="/static/image/2gorod.jpg" alt="">
        </a>            
        <a href="/product2/">
            <p>
                Информация о городском велосипеде
            </p>
        </a>
    </div>

    <div class="info_container">
        <a href="/product3/">
            <img src="/static/image/3kid.jpg" alt="">
        </a>
        <a href="/product3/">
            <p>
                Информация о детском велосипед
            </p>
        </a>
    </div>

    <div class="info_container">
        <a href="/product4/">
            <img src="/static/image/4track.jpg" alt="">
        </a>
        <a href="/product4/">
            <p>
                Информация о трековом велосипеде
            </p>   
        </a>          
    </div>

{% endblock %}