{% extends 'base.html' %}

{% block title %} Городской {% endblock %}

{% block main %} 
    <div class="text_container">
    <p>       
        Велосипед для повседневных поездок по городу и небольших прогулок по ровной местности. 
        Этот утилитарный тип велосипеда широко распространён по всему миру, 
        поскольку приспособлен для поездок в обычной одежде и различных погодных условиях.
    </p>
    </div>

    <div class="img_container">
        <img src="/static/image/2gorod.jpg" alt="">
    </div>
{% endblock %}