{% extends 'base.html' %}

{% block title %} Десткий {% endblock %}

{% block main %}    
    <div class="text_container">
    <p>
        Современный детский велосипед известной фирмы-производителя – это высокотехнологичный качественный продукт, 
        порой не уступающий в сложности изготовления взрослому прогулочному велосипеду. Как и их «старшие братья», 
        велосипеды для детей постоянно совершенствуются, становятся функциональней, легче, надежней. 
        Внастоящее время производители выпускают большое количество детских велосипедов для юных байкеров любого возраста и роста.
        Детские велосипеды долговечны, имеют большой запас прочности, травмобезопасны и легки на ходу. 
    </p>
    </div>

    <div class="img_container">
        <img src="/static/image/3kid.jpg" alt="">
    </div>
{% endblock %}