{% extends 'base.html' %}

{% block title %} Горный {% endblock %}

{% block main %}
    
    <div class="text_container">
    <p>
        Велосипед, предназначенный для катания вне дорог (хотя и не исключает обратного), 
        и вследствие этого, имеющий особую конструкцию, отличную от шоссейного, 
        трекового и дорожного (городского) велосипедов. 
        Также «горный велосипед» — совокупное название спортивных дисциплин, 
        связанных с использованием горного велосипеда.
    </p>
    </div>

    <div class="img_container">
        <img src="/static/image/1gornia.jpg" alt="">
    </div>
{% endblock %}