{% extends 'base.html' %}

{% block title %} Трековый {% endblock %}

{% block main %}
    <div class="text_container">
    <p>
        Велосипед, предназначенный для езды по велотреку. Трековые велосипеды внешне схожи с шоссейными велосипедами, 
        однако имеют ряд принципиальных конструктивных отличий. Трековый велосипед имеет более короткую колёсную базу, 
        из-за чего увеличивается жесткость рамы. Диаметр колёс составляет 622 мм (700C), 
        в качестве покрышек чаще используются однотрубные шины велосипеда.
    </p>
    </div>

    <div class="img_container">
        <img src="/static/image/4track.jpg" alt="">
    </div>
{% endblock %}